@model Customer

@{
    var title = SaveHelper.IsEdit(Model) ? "Изменение покупателя" : "Добавление покупателя";
    ViewData["Title"] = title;
}

<h2>@title</h2>


<div class="col-md-4">
    <form asp-action="Save">

        <div class="form-floating mb-3">
            <input asp-for="Login" class="form-control" placeholder="Login">
            <label asp-for="Login" class="form-label"></label>
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Password" class="form-control" placeholder="Password">
            <label asp-for="Password" class="form-label"></label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Profile!.Age" class="form-control" placeholder="Age">
            <label asp-for="Profile!.Age" class="form-label"></label>
            <span asp-validation-for="Profile!.Age" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Profile!.Email" class="form-control" placeholder="Email">
            <label asp-for="Profile!.Email" class="form-label"></label>
            <span asp-validation-for="Profile!.Email" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Profile!.Phone" class="form-control" placeholder="Phone">
            <label asp-for="Profile!.Phone" class="form-label"></label>
            <span asp-validation-for="Profile!.Phone" class="text-danger"></span>
        </div>

        <div class="btn-group">

            @if (SaveHelper.IsEdit(Model))
            {
                <button type="submit" class="btn btn-outline-danger">Сохранить</button>
                <a class="btn btn-outline-primary" asp-action="Index">Отмена</a>
            }
            else
            {
                <button type="submit" class="btn btn-outline-primary">Добавить</button>
                <a class="btn btn-outline-danger" asp-action="Index">Отмена</a>
            }

        </div>
    </form>

    <div asp-validation-summary="ModelOnly"></div>
</div>
