@model Customer
@inject SaveHelper saveHelper

@{
    var title = SaveHelper.IsEdit(Model) ? "Изменение покупателя" : "Добавление покупателя";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<form asp-action="Save">
    <div>
        <p>
            <label asp-for="Login"></label>
            <input asp-for="Login" />
        </p>
        <p>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
        </p>
        <p>
            <label asp-for="PasswordConfirm"></label>
            <input asp-for="PasswordConfirm" />
        </p>
        <input type="hidden" name="Role" value="@MarketPlace.DAL.Enum.Role.Customer">

        <input type="hidden" name="Profile.Id" value="@(Model?.Profile?.Id ?? 0)">
        <p>
            <label asp-for="Profile.Age"></label>
            <input asp-for="Profile.Age" />
        </p>
        <p>
            <label asp-for="Profile.Email"></label>
            <input asp-for="Profile.Email" />
        </p>
        <p>
            <label asp-for="Profile.Phone"></label>
            <input asp-for="Profile.Phone" />
        </p>
        <input type="hidden" name="Profile.CustomerId" value="@(Model?.Id ?? 0)">
       

        <p>
            <input type="submit" value="OK" />
            <a asp-action="Index">Cancel</a>
        </p>
    </div>
</form>

<div asp-validation-summary="All"></div>