@model Customer
@inject SaveHelper saveHelper

@{
    var title = SaveHelper.IsEdit(Model) ? "Изменение покупателя" : "Добавление покупателя";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<form asp-action="Save">
    <div>
        <p>
            <label asp-for="Login"></label>
            <input asp-for="Login" />
        </p>
        <p>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
        </p>

        <input type="hidden" asp-for="Profile.Id" value="@Model.Profile.Id">
        <p>
            <label asp-for="Profile.Age"></label>
            <input asp-for="Profile.Age" />
        </p>
        <p>
            <label asp-for="Profile.Email"></label>
            <input asp-for="Profile.Email" />
        </p>
        <p>
            <label asp-for="Profile.Phone"></label>
            <input asp-for="Profile.Phone" />
        </p>
        <input type="hidden" asp-for="Profile.CustomerId" value="@Model.Id">
       
        <p>
            <input type="submit" value="OK" />
            <a asp-action="Index">Cancel</a>
        </p>
    </div>
</form>

<div asp-validation-summary="All"></div>