@model Shop

@{
    var title = "Магазин";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<div class="col-md-4">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input disabled asp-for="Name" class="form-control">
    </div>
    <div class="mb-3">
        <label disabled asp-for="Description" class="form-label"></label>
        <textarea disabled asp-for="Description" class="form-control"></textarea>
    </div>

    <a class="btn btn-outline-danger" asp-action="Edit">Изменить</a>
</div>