@model Shop

@{
    var title = "Магазин";
    ViewData["Title"] = title;
}

<h2>@title</h2>


<div>
    <p>
        <label asp-for="Name"></label>
        <input disabled asp-for="Name" />
    </p>
    <p>
        <label asp-for="Description"></label>
        <textarea disabled asp-for="Description" class="form-control"></textarea>
    </p>
    <p>
        <a asp-action="Edit">Изменить</a>
    </p>
</div>
