@model MarketPlace.WEB.Areas.Admin.Models.ProductViewModel
@inject SaveHelper saveHelper
@inject IProductService productService

@{
    var title = SaveHelper.IsEdit(Model.Product) ? "Изменение товара" : "Добавление товара";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<form asp-action="Save">
    <div>
        <p>
            <label asp-for="Product.Name"></label>
            <input asp-for="Product.Name" name="Name" />
        </p>
        <p>
            <label asp-for="Product.Description"></label>
            <textarea asp-for="Product.Description" name="Description" 
                class="form-control"></textarea>
        </p>
        <p>
            <label asp-for="Product.Price"></label>
            <input asp-for="Product.Price" name="Price" />
        </p>
        <p>
            <label asp-for="Product.Category"></label>
            <select asp-for="Product.Category" name="Category" 
                asp-items="@productService.GetCategories().Data"></select>
        </p>
        <input type="hidden" asp-for="ShopId" value="@Model.ShopId">

        <p>
            <input type="submit" value="OK" />
            <a asp-action="Index" asp-route-shopId="@Model.ShopId">Cancel</a>
        </p>
    </div>
</form>

<div asp-validation-summary="All"></div>