<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MarketPlace.WEB.styles.css" asp-append-version="true" />

    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <a asp-controller="Home" asp-action="Index" asp-route-area="">Главная</a>

        <p>
            @if (!User.Identity!.IsAuthenticated)
            {
                <div>
                    <a asp-area="" asp-controller="Account" asp-action="Login">Войти</a> |
                    <a asp-area ="" asp-controller="Account" asp-action="Register">Зарегистрироваться</a>
                </div>
            }
            else
            {
                <div>
                    <a asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>
                    <p>
                        Логин: @User.FindFirst(ClaimsIdentity.DefaultNameClaimType)?.Value.
                        Роль: @User.FindFirst(ClaimsIdentity.DefaultRoleClaimType)?.Value
                    </p>
                </div>
            }

            @if (User.IsInRole(MarketPlace.DAL.Enum.Role.Admin.ToString()))
            {
                <div>
                    <span>Админ-панель: </span>
                    <a asp-area="Admin" asp-action="Index" asp-controller="Shop">Магазины</a> |
                    <a asp-area="Admin" asp-controller="Seller" asp-action="Index">Продавцы</a> |
                    <a asp-area="Admin" asp-controller="Customer" asp-action="Index">Покупатели</a>
                </div>
            }
            else if (User.IsInRole(MarketPlace.DAL.Enum.Role.Seller.ToString()))
            {
                <div>
                    <span>Панель продавца: </span>

                    <a asp-area="Seller" asp-controller="Shop" asp-action="Index">Магазин</a> |
                    <a asp-area="Seller" asp-controller="Product" asp-action="Index">Товары</a>
                </div>
            }
            else if (User.IsInRole(MarketPlace.DAL.Enum.Role.Customer.ToString()))
            {
                <div>
                    <span>Панель покупателя: </span>

                    <a asp-route-area="Customer" asp-controller="Customer" asp-action="Edit">Профиль</a> |
                    <a asp-area="Customer" asp-controller="Cart" asp-action="Index">Корзина</a> |
                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">Избранные</a>
                </div>
            }
        </p>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/toast.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        //remove active from buttons in 100 ms
        const buttons = document.querySelectorAll('.btn');

        buttons.forEach(button => {
            button.addEventListener('click', () => {

                setTimeout(() => {
                    button.blur();
                }, 160);
            });
        });
    </script>

</body>
</html>
