<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div>
        <a asp-controller="Home" asp-action="Index" asp-route-area="">Главная</a>

        <p>
            @if (!User.Identity!.IsAuthenticated)
            {
                <div>
                    <a asp-controller="Account" asp-action="Login" asp-route-area="">Войти</a> |
                    <a asp-controller="Account" asp-action="Register" asp-route-area="">Зарегистрироваться</a>
                </div>
            }
            else
            {
                <div>
                    <a asp-controller="Account" asp-action="Logout" asp-route-area="">Выйти</a>
                    <p>
                        Логин: @User.FindFirst(ClaimsIdentity.DefaultNameClaimType)?.Value.
                        Роль: @User.FindFirst(ClaimsIdentity.DefaultRoleClaimType)?.Value
                    </p>
                </div>
            }

            @if (User.IsInRole(MarketPlace.DAL.Enum.Role.Admin.ToString()))
            {
                <div>
                    <span>Админ-панель: </span>
                    <a asp-action="Index" asp-controller="Shop" asp-route-area="Admin">Магазины</a> |
                    <a asp-controller="Seller" asp-action="Index" asp-route-area="Admin">Продавцы</a> |
                    <a asp-controller="Customer" asp-action="Index" asp-route-area="Admin">Покупатели</a>
                </div>
            }
            else if (User.IsInRole(MarketPlace.DAL.Enum.Role.Seller.ToString()))
            {
                <div>
                    <span>Панель продавца: </span>

                    <a asp-controller="Shop" asp-action="GetShop" asp-route-area="Seller">Магазин</a> |
                    <a asp-controller="Product" asp-action="Index" asp-route-area="Seller">Товары</a>
                </div>
            }
        </p>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
