@model List<ProductPhoto>

@if (Model?.Any() ?? true)
{
    <div id="product-photos-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @for (int i = 0; i < Model.Count; i++)
            {
                <li data-target="#product-photos-carousel" data-slide-to="@i" class="@((i == 0) ? "active" : "")"></li>
            }
        </ol>
        <div class="carousel-inner">
            @foreach (var photo in Model)
            {
                <div class="carousel-item @((photo == Model.First()) ? "active" : "")">
                    <img src="@($"data:image/png;base64,{Convert.ToBase64String(photo.Photo)}")" class="d-block w-100" alt="Фото продукта">
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#product-photos-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
        </a>
        <a class="carousel-control-next" href="#product-photos-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
        </a>
    </div>
}
else
{
    <div id="product-photos-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-center align-items-center" style="height: 200px">
                    <h5 class="text-center text-muted">Нет фотографий</h5>
                </div>
            </div>
        </div>
    </div>
}
