@model Product

@{
    ViewData["Title"] = "Изменение товара";
}

<h2>Изменение товара</h2>

<form asp-action="Edit">
    <div>
        <p>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name" />
        </p>
        <p>
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" />
        </p>
        <p>
            <label asp-for="Price"></label>
            <input asp-for="Price" />
            <span asp-validation-for="Price" />
        </p>
        <p>
            <input type="submit" value="Изменить" />
            <a asp-action="Index">Отменить</a>
        </p>
    </div>
</form>

<div asp-validation-summary="All"></div>