@model Customer

@{
    ViewData["Title"] = "Sign Up";
}

<h2>Register Form</h2>

<form asp-action="Register" asp-controller="Account" >
    <div>
        <p>
            <label asp-for="Login"></label>
            <input asp-for="Login"/>
            <span asp-validation-for="Login"/>
        </p>
        <p>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </p>
        <p>
            <label asp-for="PasswordConfirm"></label>
            <input asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm" />
        </p>
        <input type="hidden" name="Role" value="@MarketPlace.DAL.Enum.Role.Customer">
        <p>
            <label asp-for="Profile.Age"></label>
            <input asp-for="Profile.Age" />
            <span asp-validation-for="Profile.Age" />
        </p>
        <p>
            <label asp-for="Profile.Email"></label>
            <input asp-for="Profile.Email" />
            <span asp-validation-for="Profile.Email" />
        </p>
        <p>
            <label asp-for="Profile.Phone"></label>
            <input asp-for="Profile.Phone" />
            <span asp-validation-for="Profile.Phone" />
        </p>
        <p>
            <input type="submit" value="Sign Up" />
        </p>
    </div>
</form>

<div asp-validation-summary="All"></div>