@model RegisterDTO

@{
    ViewData["Title"] = "Sign Up";
}

<h2>Register Form</h2>

<form asp-action="Register" asp-controller="Account" >
    <div>
        <p>
            <label asp-for="Login"></label>
            <input asp-for="Login" />
        </p>
        <p>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
        </p>
        <p>
            <label asp-for="PasswordConfirm"></label>
            <input asp-for="PasswordConfirm" />
        </p>

        <p>
            <label asp-for="Age"></label>
            <input asp-for="Age" />
        </p>
        <p>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
        </p>
        <p>
            <label asp-for="Phone"></label>
            <input asp-for="Phone" />
        </p>

        <p>
            <input type="submit" value="Sign Up" />
        </p>
    </div>
</form>

<div asp-validation-summary="All"></div>