@model SellerViewModel
@inject SaveHelper saveHelper

@{
    var title = SaveHelper.IsEdit(Model.Seller) ? "Изменение продавца" : "Добавление продавца";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<form asp-action="Save">
    <div>
        <p>
            <label asp-for="Seller.Login"></label>
            <input asp-for="Seller.Login" name="Login" />
        </p>
        <p>
            <label asp-for="Seller.Password"></label>
            <input asp-for="Seller.Password" name="Password" />
        </p>
        <input type="hidden" name="Role" value="@MarketPlace.DAL.Enum.Role.Seller">
        <p>
            <label asp-for="Seller.ShopId">Shop: </label>
            <select asp-for="Seller.ShopId" name="ShopId" asp-items="@Model.Shops"></select>
        </p>

        <p>
            <input type="submit" value="OK" />
            <a asp-action="Index">Cancel</a>
        </p>
    </div>
</form>

<div asp-validation-summary="All"></div>