@model SellerViewModel

@{
    ViewData["Title"] = "Изменение продавца";
}

<h2>Изменение продавца</h2>

<form asp-action="Edit">
    <div>

        <p>
            <label asp-for="Seller.Login"></label>
            <input asp-for="Seller.Login" name="Login" />
            <span asp-validation-for="Seller.Login" />
        </p>
        <p>
            <label asp-for="Seller.Password"></label>
            <input asp-for="Seller.Password" name="Password" />
            <span asp-validation-for="Seller.Password" />
        </p>
        <p>
            <label asp-for="Seller.PasswordConfirm"></label>
            <input asp-for="Seller.PasswordConfirm" name="PasswordConfirm" value="@Model.Seller.Password"/>
            <span asp-validation-for="Seller.PasswordConfirm" />
        </p>
        <input type="hidden" name="Role" value="@MarketPlace.DAL.Enum.Role.Seller">
        <p>
            <label for="shop">Shop</label>
            <select id="shop" name="ShopId" asp-items="@Model.Shops"></select>
        </p>
        <p>
            <input type="submit" value="Сохранить" />
            <a asp-action="Index">Отменить</a>
        </p>
    </div>
</form>

<div asp-validation-summary="All"></div>