@{
    ViewData["Title"] = "Thank you";
}

<style>
    .thanks-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .thanks-image {
        width: 45%;
    }
</style>

<div class="text-center thanks-container">
    <img src="/images/Thanks.png" class="thanks-image" />
</div>
