@model Product
@inject IProductService productService

@{
    var title = SaveHelper.IsEdit(Model) ? "Изменение товара" : "Добавление товара";
    ViewData["Title"] = title;
}

<h2>@title</h2>
<hr />

<form asp-action="Save" class="col-md-4">
    <div class="form-floating mb-3">
        <input asp-for="Name" class="form-control" placeholder="Name">
        <label asp-for="Name" class="form-label"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <textarea asp-for="Description" class="form-control" style="height: 100px" placeholder="Description"></textarea>
        <label asp-for="Description" class="form-label"></label>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Price" class="form-control" placeholder="Price">
        <label asp-for="Price" class="form-label" ></label>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <select asp-for="Category" class="form-select" asp-items="@productService.GetCategories().Data"></select>
        <label asp-for="Category" class="form-label"></label>
    </div>


    <div class="btn-group">
        <button type="submit" class="btn btn-outline-primary">Подтвердить</button>
        <a class="btn btn-outline-danger" asp-action="Index">Отменить</a>
    </div>

    <div id="product-photos"></div>
    
</form>

<div asp-validation-summary="ModelOnly"></div>




@section Scripts {
    <script>
        $(function () {

            $.ajax({
                url: '@Url.Action("Index", "ProductPhoto", new { area = "" })',
                type: 'GET',
                data: { productId: @Model.Id },
                success: function (result) {
                    console.log(result);
                    $('#product-photos').html(result);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
}