@model Product
@inject IProductService productService

@{
    var title = SaveHelper.IsEdit(Model) ? "Изменение товара" : "Добавление товара";
    ViewData["Title"] = title;
}


<style>
    .image {
        max-height: 100%;
        max-width: 100%;
        border-radius: 2%;
        border: 1px solid #ccc;
    }

    .image-container {
        max-height: 425px; 
        overflow: hidden;
    }
</style>

<h2>@title</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Save" enctype="multipart/form-data">

            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" placeholder="Name">
                <label asp-for="Name" class="form-label"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <textarea asp-for="Description" class="form-control" style="height: 100px" placeholder="Description"></textarea>
                <label asp-for="Description" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Price" class="form-control" placeholder="Price">
                <label asp-for="Price" class="form-label"></label>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <select asp-for="Category" class="form-select" asp-items="@productService.GetCategories().Data"></select>
                <label asp-for="Category" class="form-label"></label>
            </div>

            <div class="input-group mb-3">
                <input type="file" name="photo" class="form-control" accept="image/*">
                <span class="input-group-text">Фото</span>
            </div>

            <div class="btn-group">
                <button type="submit" class="btn btn-outline-primary">Подтвердить</button>
                <a class="btn btn-outline-danger" asp-action="Index">Отменить</a>
            </div>

        </form>

        <div asp-validation-summary="ModelOnly"></div>
    </div>

    @if (Model.Photo != null && Model.Photo.Length > 0)
    {
        <div class="col-md-4 image-container">
            <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.Photo)}")" class="image" />
        </div>
    }
</div>
