@model Product
@inject SaveHelper saveHelper
@inject IProductService productService

@{
    var title = SaveHelper.IsEdit(Model) ? "Изменение товара" : "Добавление товара";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<form asp-action="Save">
    <div>
        <p>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </p>
        <p>
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </p>
        <p>
            <label asp-for="Price"></label>
            <input asp-for="Price" />
        </p>
        <p>
            <label asp-for="Category"></label>
            <select asp-for="Category" asp-items="@productService.GetCategories().Data"></select>
        </p>
        <input type="hidden" name="ShopId" value="@(Model?.ShopId ?? 0)">

        <p>
            <input type="submit" value="OK" />
            <a asp-action="Index">Cancel</a>
        </p>
    </div>
</form>

<div asp-validation-summary="All"></div>