html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F1F1F1;
}

::-webkit-scrollbar-thumb {
    background-color: #C0C0C0;
    border-radius: 4px;
}

th a {
    text-decoration: none;
    color: #212529;
}

th a:hover {
    color: #0d6efd;
}







