@model Shop

@{
    ViewData["Title"] = "Магазин";
}

<h2>Магазин</h2>


<div>

    <p>Name: @Model.Name</p>
    <p>
        Description:
        <textarea readonly>@Model.Description</textarea>
    </p>



</div>


