@model Shop

@{
    ViewData["Title"] = "Details";
}

<h2>Shop details</h2>



<p>
    <label asp-for="Name"></label>
    @Html.DisplayFor(model => model.Name)
</p>
<p>
    <label asp-for="Description"></label>
    <textarea readonly asp-for="Description" class="form-control"></textarea>
</p>

<div style="margin: 10px 0px;">
    <a class="btn btn-primary" asp-controller="Product" asp-action="Index" asp-route-shopId="@Model.Id">Товары</a>
</div>

<div style="display: flex; gap: 10px;">
    <a class="btn btn-primary" asp-action="Save" asp-route-id="@Model.Id">Изменить</a>
    <form asp-action="Delete">
        <input type="hidden" name="id" value="@Model.Id" />
        <input class="btn btn-danger" type="submit" value="Удалить" />
    </form>
</div>

<p>
    <a asp-action="Index">Cancel</a>
</p>




<div asp-validation-summary="All"></div>