@model Shop

@{
    var title = SaveHelper.IsEdit(Model) ? "Изменение магазина" : "Добавление магазина";
    ViewData["Title"] = title;
}

<h2>@title</h2>


<div class="col-md-4">
    <form asp-action="Save">
        <input type="hidden" asp-for="Id" />
        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control" placeholder="Name">
            <label asp-for="Name" class="form-label"></label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
            <label asp-for="Description" class="form-label"></label>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        @if (SaveHelper.IsEdit(Model))
        {
            <div class="btn-group">
                <button type="submit" class="btn btn-outline-danger">Сохранить</button>
                <a class="btn btn-outline-primary" asp-action="Index">Отмена</a>
            </div>
        }
        else
        {
            <div class="btn-group">
                <button type="submit" class="btn btn-outline-primary">Добавить</button>
                <a class="btn btn-outline-danger" asp-action="Index">Отмена</a>
            </div>
        }

    </form>

    <div asp-validation-summary="ModelOnly"></div>
</div>