@model Shop

@{
    var title = SaveHelper.IsEdit(Model) ? "Изменение магазина" : "Добавление магазина";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<form asp-action="Save">
    <div>
        <input type="hidden" asp-for="Id" />
        <p>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </p>
        <p>     
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </p>

        <p>
            <input type="submit" value="OK" />
            <a asp-action="Index">Cancel</a>
        </p>
    </div>
</form>

<div asp-validation-summary="All"></div>