@model Customer

@{
    ViewData["Title"] = "Добавление покупателя";
}

<h2>Добавление покупателя</h2>

<form asp-action="Create">
    <div>
        <p>
            <label asp-for="Login"></label>
            <input asp-for="Login" />
            <span asp-validation-for="Login" />
        </p>
        <p>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </p>
        <p>
            <label asp-for="PasswordConfirm"></label>
            <input asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm" />
        </p>
        <input type="hidden" name="Role" value="@MarketPlace.DAL.Enum.Role.Customer">
        <p>
            <label asp-for="Profile.Age"></label>
            <input asp-for="Profile.Age" />
            <span asp-validation-for="Profile.Age" />
        </p>
        <p>
            <label asp-for="Profile.Email"></label>
            <input asp-for="Profile.Email" />
            <span asp-validation-for="Profile.Email" />
        </p>
        <p>
            <label asp-for="Profile.Phone"></label>
            <input asp-for="Profile.Phone" />
            <span asp-validation-for="Profile.Phone" />
        </p>
        <p>
            <input type="submit" value="Добавить" />
            <a asp-action="Index">Отменить</a>
        </p>
    </div>
</form>

<div asp-validation-summary="All"></div>